version: '2'
services:
  mariadb:
    image: 'docker.io/bitnami/mariadb:10.2-debian-10'
    container_name: mariadb
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - MARIADB_USER=my_user
      - MARIADB_DATABASE=laravel
      - MARIADB_PASSWORD=my_password
    volumes:
       - ./.docker_data/mariadb:/bitnami/mariadb
  laravel:
    tty: true
    image: docker.io/bitnami/laravel:8-debian-10
    container_name: laravel
    environment:
      - DB_HOST=mariadb
      - DB_USERNAME=my_user
      - DB_DATABASE=laravel
      - DB_PASSWORD=my_password
    depends_on:
      - mariadb
    ports:
      - 3000:3000
    volumes:
      - ./laravel:/app
  phpmyadmin:
      image: phpmyadmin
      container_name: phpmyadmin
      environment:
        - PMA_HOST=mariadb
      restart: always
      depends_on:
        - mariadb
      ports:
       - 8080:80